/* @media(max-width:575.99px){ *
     .navbar-brand {
        transform: scale(.8);
    }
    .navbar-nav{
        background-color: #f38181;
        text-align: center;
    }
    .navbar-expand-lg .navbar-nav .nav-item {
        padding: 6px  0px;
       
    }
    .nav-link::after{
        display: none;
    }
    .ban-text h1 {
        font-size: 24px;
        line-height: 14px;
        margin-bottom: 18px;
    }
    .ban-text h1::after {
        display: none;
    }

    .ban-text h2 {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    #story {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .story-text h2 {  
        font-size: 20px;    
    }
    .story-text h1{
        font-size: 24px;
    }
    .story-text h6 {
        margin-top: 50px;   
        font-size: 13px;
        padding: 0 0;
    }
    .story-text h6::after {
      
        bottom: 100px;
      
    }
    #counter {
        margin-top: 50px;
       
    }
    .service {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .service-text h4 {
        font-size: 20px;
    }
    .service-text h3 {
        font-size: 24px;
    }
    .nvr::after {
      
        top: 90px;
        left: 38%;
       
    }
    .comment {
        padding-top: 0px; 
        padding-bottom: 50px;
       
    }
    .team-text h2 {
       
        font-size: 20px;
        
    }
    .team-text h1 {
        font-size: 24px;
    }
    .team-text h1::after {
        top: 80px;

    }
    .team-text h6 {
      
        font-size: 13px;
        margin-top: 50px;
    }
    .team-text h6 {
     
       
        padding-bottom: 60px;

        
    }
}
/* / *
    @media(max-width:767.99px){
        .navbar-brand {
            transform: scale(.8);
        }
        .navbar-nav{
            background-color: #f38181;
            text-align: center;
        }
        .navbar-expand-lg .navbar-nav .nav-item {
            padding: 6px  0px;
           
        }
        .nav-link::after{
            display: none;
        }
        .ban-text h1 {          
            font-size: 36px;
            line-height: 28px;
            margin-bottom: 41px;
        }
        .ban-text h2 {
           
            font-size: 54px;
         
            margin-bottom: 30px;
        }
        .ban-text h1::after {
            display: none;
        }
        #story {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .story-text h2 {  
            font-size: 20px;    
        }
        .story-text h1{
            font-size: 24px;
        }
        .story-text h6 {
            margin-top: 50px;   
            font-size: 13px;
            padding: 0 0;
        }
        .story-text h6::after {
          
            bottom: 100px;
          
        }
        #counter {
            margin-top: 50px;
           
        }
        .service {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .service-text h4 {
            font-size: 20px;
        }
        .service-text h3 {
            font-size: 24px;
        }
        .nvr::after {
          
            top: 90px;
            left: 38%;
           
        }
        .comment {
            padding-top: 0px; 
            padding-bottom: 50px;
           
        }
        .team-text h2 {
           
            font-size: 20px;
            
        }
        .team-text h1 {
            font-size: 24px;
        }
        .team-text h1::after {
            top: 80px;
    
        }
        .team-text h6 {
          
            font-size: 13px;
            margin-top: 50px;
        }
        .team-text h6 {
         
           
            padding-bottom: 60px;
    
            
        }

    }
    /*  */
 @media(max-width:991.99px){ 
   
    
    .navbar-expand-lg .navbar-nav .nav-item {
        padding: 6px  0px;
       
    }
    .nav-link::after{
        display: none;
    }
    .ban-text h1 {
        font-size: 54px;
        line-height: 114px;
        margin-bottom: 23px;
    }
    .ban-text h2 {
        font-size: 54px;  
        margin-bottom: 24px;
    }
 }
 
 @media(max-width:11098.99px){
    .ban-text h1 {
        font-size: 99px;
        line-height: 104px;
        margin-bottom: 50px;
    }
    .ban-text h2 {     
        font-size: 71px;
        margin-bottom: 17px;
    }
    .nav-link::after{
        display: none;
    }
    .ban-text h1::after {
        display: none;
    }
 }